{% extends "layout.html" %}

{% block title %}
    Add Items
{% endblock %}

{% block main %}
<div class="center">
    <h2 class="mb-4">Add Elements</h2>
    {% if error %}
            <div class='bg-danger center text-white error'>{{ error }}</div>
    {% endif %}
    <form action="/add" method="post">
        <div class="form-group">
            <select name = "type_selection" class="form-control" required>
                <option value = "" selected disabled>Type</option>
                {% for type in types %}
                <option value ="{{type.id}}" > {{type.type | capitalize }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select name = "category_selector" class="form-control" required>
                <option value = "" selected disabled>Category</option>
                {% for category in categories %}
                <option value ="{{category.id}}" > {{category.category | capitalize }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select name = "sub_category_selector" class="form-control" required>
                <option value = "" selected disabled>Sub-Category</option>
                {% for sub_category in sub_categories %}
                <option value ="{{sub_category.id}}" > {{sub_category.sub_category | capitalize }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name = "item_name" type="text" placeholder="Enter item name" autocomplete="off" class="form-control center" required>
        </div>  
        <div class="form-group">
            <input name = "item_quantity" type="number" placeholder="Enter item quantity" autocomplete="off" class="form-control center" min="1" required>
        </div> 
        <div class="form-group">
            <input name = "item_cost" type="number" placeholder="Enter cost price" autocomplete="off" class="form-control center" min="1" required>
        </div> 
        <div class="form-group">  
            <input name = "submit" type="submit" value="Submit" class="btn btn-primary">
        </div>
            </form>
        </div>
    </form>
</div>
{% endblock %}